{% extends "accounts/global/base.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
    <section class="vh-100">
        <div class="container py-5 h-100">
          <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                class="img-fluid" alt="Phone image">
            </div>

            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">

              <form method="post">
                {% csrf_token %}
                <p class="mb-0">{{ form.username.label_tag }}</p>
                {{ form.username }}
                <p class="mb-0 mt-2">{{ form.password.label_tag }}</p>
                {{ form.password }}

                <!-- Submit button -->
                <button type="submit" class="w-100 my-3 btn btn-primary btn-lg btn-block">Entrar</button>
      
                <div class="divider d-flex align-items-center justify-content-center mt-2 mb-4">
                  <p class="text-center fw-bold mx-3 mb-0 text-muted">OU</p>
                </div>
      
                <a class="w-100 btn btn-light btn-lg" href="#!" role="button">
                    <i class="mx-3 fa-brands fa-google"></i>Login com Google
                </a>
      
              </form>

            </div>
          </div>
        </div>
    </section>    
{% endblock content %}