{% extends "core/global/base.html" %}

{% block title %}Detalhes{% endblock title %}

{% block content %}
    <h1>{{ object.nome }}</h1>
    <h2>Preço: {{object.preco}}</h2>
    <h4>Tamanho: {{ object.tamanho }}</h4>
    <img src="{{ object.imagem.url }}" alt="{{ object.nome }}" width="300" height="300">
    <h4>Descricao: {{ object.descricao }}</h4>
    <h4>Cor: {{ object.cor }}</h4>
    <h4>Marca: {{ object.marca }}</h4>
    <h4>Genero: {{ object.genero }}</h4>
    <h4>Comprimento: {{ object.comprimento }}</h4>
    <h4>Largura: {{ object.largura }}</h4>
    <h4>Cintura: {{ object.cintura }}</h4>
{% endblock content %}