{% extends "core/global/base.html" %}

{% block title %}Início{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        <p>Bem-vindo, {{ user.email }}!</p>
        <a href="{% url 'logout' %}">Sair</a>
    {% else %}
        <p>Faça <a href="{% url 'login' %}">login</a> para ver seu email.</p>
    {% endif %}

    <h1>Lista de Produtos</h1>
    <ul>
        {% for produto in object_list %}
            <li>
                <a href="{{ produto.get_absolute_url }}" >{{ produto.nome }}</a>
                <p>Preço: R$ {{ produto.preco }}</p>
                <p>Tamanho: {{ produto.tamanho }}</p>
                <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}" width="100" height="100">
            </li>
        {% endfor %}
    </ul>
{% endblock content %}