<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Lista de Produtos</h1>
    <ul>
        {% for produto in object_list %}
            <li>
                <a href="{{ produto.get_absolute_url }}" >{{ produto.nome }}</a>
                <p>Preço: R$ {{ produto.preco }}</p>
                <p>Tamanho: {{ produto.tamanho }}</p>
                <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}" width="100" height="100">
            </li>
        {% endfor %}
    </ul>
</body>
</html>