<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Produtos</h1>
    <ul>
        {% for produto in produtos %}
            <li>
                <h2>{{ produto.nome }}</h2>
                <p>Descrição: {{ produto.descricao }}</p>
                <p>Preço: R$ {{ produto.preco }}</p>
                <p>Categoria: {{ produto.categoria }}</p>
                <p>Tamanho: {{ produto.tamanho }}</p>
                <p>Cor: {{ produto.cor }}</p>
                <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}" width="100" height="100">
            </li>
        {% endfor %}
    </ul>
</body>
</html>